
<div class="container">
    <div class="form-container">
    <h2 class="form-title">Update User</h2>
    <form [formGroup]="updateUserForm">
    
    <div class="form-group" >
    <label for="nume">Nume: </label>
    <input type="text" id="nume" name="nume" required formControlName="nume">
    </div>
    
    <div class="form-group" >
        <label for="parola">Parola: </label>
        <input type="password" id="parola" name="parola" required formControlName="parola">
        </div>
    
        <div class="form-group" >
            <label for="data_nasterii">Data nasterii: </label>
            <input type="date" id="data_nasterii" name="data_nasterii" required formControlName="data_nasterii">
            </div>
    
    <div class="form-group" >
        <label for="prenume">Prenume: </label>
        <input type="text" id="prenume" name="prenume" required formControlName="prenume">
        </div>
    
    <div class="form-group" >
    <label for="email" >Email:</label>
    <input type="email" id="email" name="email" required formControlName="email" autocomplete="email">
    </div>
    
    <div class="form-group">
    <label for="numar_telefon">Telefon: </label>
    <input type="text" id="numar_telefon" name="numar_telefon" required formControlName="numar_telefon">
    </div>
    
    <div class="form-group" >
        <label for="sex">Sex: </label>
        <input type="text" id="sex" name="sex" required formControlName="sex">
        </div>
    
      <div class="form-group" >
      <label for="tara">Tara: </label>
     <input type="text" id="tara" name="tara" required formControlName="tara">
      </div>
    
    <button type="submit">Update</button>
    </form>
    </div>
    </div>