<div class="text-center mt-5">
  <h1>Bună, {{ prenume }} {{ nume }}!</h1>
  <button (click)="logout()" class="btn btn-danger mt-3">
    Logout
  </button>

<button class="btn btn-primary btn-lg rounded-pill px-4 shadow" [routerLink]="'/user/' + id">
  UPDATE
</button>

</div>

<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Upload Image</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <input type="file" (change)="onFileSelected($event)" class="form-control" />
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <input type="button" (click)="uploadImage()" value="Upload" class="btn btn-primary" />
    </div>
  </div>
  <div class="row mb-3">
  <div class="col-md-6">
    <input type="text" [(ngModel)]="numePacient" placeholder="Nume" class="form-control"    />
  </div>
  <div class="col-md-6">
    <input type="text" [(ngModel)]="prenumePacient" placeholder="Preume" class="form-control"    />
  </div>
  <div class="col-md-6">
    <input type="date" [(ngModel)]="dataNasterii" placeholder="Data nasterii" class="form-control"    />
  </div>
  <div class="col-md-6">
    <textarea [(ngModel)]="detalii" placeholder="Detalii" class="form-control"   ></textarea>
  </div>
  <div class="col-md-6">
    <textarea [(ngModel)]="istoricMedical" placeholder="Istoric medical" class="form-control"   ></textarea>
  </div>
  <div class="col-md-6">
    <input type="text" [(ngModel)]="cnp" placeholder="CNP" class="form-control"    />
  </div>
  <div class="col-md-6">
    <input type="text" [(ngModel)]="numarTelefon" placeholder="Numar telefon" class="form-control"   />
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <select [(ngModel)]="sex" class="form-control">
      <option value="" disabled selected>Selectează categoria</option>
      <option value="FEMININ">Feminin</option>
      <option value="MASCULIN">Maculin</option>
      
    </select>
  </div>
</div>

  <hr />

  <div class="row mb-3">
    <div class="col-12">
      <div *ngIf="message" class="alert alert-info">
        {{ message }}
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 text-center" *ngIf="retrievedImage">
      <img [src]="retrievedImage" class="img-fluid rounded" alt="Uploaded Image" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Imaginile tale</h2>
      <div class="d-flex flex-wrap gap-3">
        <div *ngFor="let image of imagini; let i = index" class="image-container" 
             (click)="viewImage(image)"
             (contextmenu)="onRightClick($event, image, i)" style="cursor:pointer;">
          <img [src]="image.imagine" [alt]="'Image ' + image.id" width="150" class="img-thumbnail" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Meniul contextual -->
<ul *ngIf="contextMenuVisible" 
    [ngStyle]="{'top.px': menuY, 'left.px': menuX}" 
    class="context-menu list-group position-fixed p-2 bg-white border rounded shadow">
  <!-- <li (click)="deleteImage()" class="list-group-item list-group-item-action">Șterge</li> -->
</ul>
