<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" formControlName="email" />
      <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error">
        <span *ngIf="loginForm.controls['email'].errors?.['required']">Email is mandatory!</span>
        <span *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email!</span>
      </div>
    </div>

    <div>
      <label for="parola">Password:</label>
      <input type="password" id="parola" name="parola" formControlName="parola" />
      <div *ngIf="loginForm.controls['parola'].invalid && loginForm.controls['parola'].touched" class="error">
        <span *ngIf="loginForm.controls['parola'].errors?.['required']">Password is mandatory!</span>
      </div>
    </div>

    <button type="submit" (click)="login()" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>

<style>
  .error {
    color: red;
    font-size: 0.8em;
  }
</style>