.image-viewer {
  padding: 20px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.header {
  margin-bottom: 20px;
}

.button-delete {
  padding: 10px 20px;
  background-color: #ba3011cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #0056b3;
}

.image-container {
   width: 100%;
  height: auto;
  max-height: 90vh; /* opțional: să nu depășească înălțimea ecranului */
 /* display: flex;
  justify-content: left;
  align-items: center;
  min-height: 80vh;
 /* overflow: hidden;         /* ascunde marginile imaginii când se mărește */
 /* width: 100%;              /* se va adapta containerul */
 /* max-width: 600px;         /* sau ce dimensiune vrei */
  /*cursor: zoom-in;*/
}

.image-container img {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;

  /* width: 100%;
  transition: transform 0.3s ease;
*/}

.image-container:hover img {
 /* transform: scale(2);    /* măriți cu 20% când mouse-ul e pe imagine */
}