<div class="image-viewer">
  
  <div class="image-viewer">
  <div class="image-container" *ngIf="image?.imageUrl">
    <img [src]="image?.imageUrl" [alt]="'Imagine ' + image?.id"  class="img-thumbnail" >
  </div>

  <div class="image-details">
    <h3>Detalii pacient</h3>
    <p><strong>Nume pacient:</strong>{{image?.numePacient}} </p>
    <p><strong>Prenume pacient:</strong>{{image?.prenumePacient}}</p>
    <p><strong>Data :</strong>{{image?.dataNasterii}} </p>
      <p><strong>Numar telefon:</strong>{{image?.numarTelefon}} </p>
        <p><strong>Detalii</strong>{{image?.detalii}} </p>
          <p><strong>Istoric medical:</strong>{{image?.istoricMedical}} </p>
            <p><strong>CNP:</strong>{{image?.cnp}} </p>
             <p><strong>sex:</strong>{{image?.sex}} </p>
</div>


<button type="button" class="btn btn-danger" (click)="deleteImage()">
  <i class="bi bi-trash"></i> Ștergere
</button></div>
